<div class="dropdown multiselect-dropdown">
  <div ng-click="toggleSelect()" class="multiselect-block" ng-disabled="disabled" ng-class="{'error': !valid()}">
    <div ng-switch="placeholder" class="multiselect-placeholder">
      <div ng-switch-when="true" class="multiselect-placeholder-text">
        --- Select One ---
      </div>
      <div ng-switch-when="false" class="multiselect-placeholder-options">
        <ul>
          <li ng-repeat="el in els" class="pull-left">
            <div class="multiselect-placeholder-option">
              <i ng-click="remove($index,el,event)" class="icon-remove icon-small option-remove-icon pull-left" ng-show="el!='--- Select One ---'"></i>
              <div class="option-text pull-left">{{el}}</div>
            </div>
          </li>
        <ul>
      </div>
    </div>  
  </div>
  <ul class="dropdown-menu  multiselect-dropdown-menu">
    <li>
      <input class="input-block-level" type="text" ng-model="searchText.label" autofocus="autofocus" placeholder="Filter" />
    </li>     
    <li ng-repeat="i in items | filter:searchText">
      <a ng-click="select(i); focus()">
        {{i.label}}
      </a>
    </li>
  </ul>
</div>